/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/


/template/
/src/
/resources/public/cljs/
/resources/public/index.html
/server/
/node_modules/
/figwheel_server.log
